@using SaucierLibrary.CaixaBase
@model Comanda


<td>
    @Html.DisplayFor(model => model.Informacao)
</td>
<td>
    @Html.DisplayFor(model => model.TotalCusto)
</td>
<td>
    @Html.DisplayFor(model => model.TotalPago)
</td>
<td>
    <a onclick="ShowComanda('@Model.Id')">Visualizar</a>
    @*@Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
        @Html.ActionLink("Visualizar", "Details", new { id = item.Id }) |
        @Html.ActionLink("Excluir", "Delete", new { id = item.Id })*@
</td>